<!-- <form [formGroup]="CurrencyForm" (ngSubmit)="onSubmitt()">
  Source CCY
  <select formControlName="fromCurrency" id="fromCurrency">
      
    <option Value="1.126735">USD</option>
    <option Value="0.876893">GBP</option>
    <option Value="79.677056">INR</option>
  </select>
  
  <br>
  <br>
  Amount
    <input type="number"  formControlName='amount' id="amount">
    <br>
    <br>
    Target CCY 
      <select formControlName="toCurrency" id="toCurrency">
        <option Value="1.126735">USD</option>
      <option Value="0.876893">GBP</option>
      <option Value="79.677056">INR</option>
      </select>
      <br>
    <button id="submitButton">Submit</button>
  <br>
  <br>
  Output
  <span id="result"></span>
  <span id="resValue">{{resValue}}</span>
  </form> -->

  <div>
    <h2>Currency Converter</h2>
    <form (submit)="onSubmitt()">
      <div class="form-group">
        <label for="fromCurrency">Source CCY:</label>
        <select id="fromCurrency" class="form-control" [(ngModel)]="fromCurrency" name="fromCurrency">
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
          <option value="INR">INR</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="toCurrency">Target CCY:</label>
        <select id="toCurrency" class="form-control" [(ngModel)]="toCurrency" name="toCurrency">
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
          <option value="INR">INR</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="amount">Amount (Rs):</label>
        <input type="number" id="amount" class="form-control" [(ngModel)]="amount" name="amount">
      </div>
  
      <button id="submitButton" type="submit" class="btn btn-primary">Convert</button>
    </form>
  
    <div id="result" *ngIf="convertedAmount !== null">
      <p>Result:</p>
      <p>{{ amount }} {{ fromCurrency }} = {{ convertedAmount }} {{ toCurrency }}</p>
    </div>
  </div>
  